In [2]:
import numpy
import pandas

numbers = [1,2,3,4,5]

mean = numpy.mean(numbers)
median = numpy.median(numbers)
std = numpy.std(numbers)

print mean
print median
print std

d = {'name': pandas.Series(['Braund', 'Cumming', 'Heikkinen', 'Allen'], index=['a','b', 'c', 'd']), 'age': pandas.Series([22,38,26,35], index=['a','b','c','d']), 'fare': pandas.Series([7.25, 71.83, 8.05], index=['a', 'b', 'd']), 'survived?': pandas.Series([False, True, True, False], index=['a','b','c','d'])}

df = pandas.DataFrame(d)

print df

3.0
3.0
1.41421356237
   age   fare       name survived?
a   22   7.25     Braund     False
b   38  71.83    Cumming      True
c   26    NaN  Heikkinen      True
d   35   8.05      Allen     False

In [3]:
from IPython.display import display
import csv

# Load the dataset
in_file = 'sochi_olympics.csv'
full_data = pandas.read_csv(in_file)

# Print the first few entries of the RMS Titanic data
display(full_data.head())

countries = full_data['NOC']
gold = full_data['Gold']
silver = full_data['Silver']
bronze = full_data['Bronze']

print countries.tolist()

d = {'countries': pandas.Series(countries.tolist()), 'gold': pandas.Series(gold.tolist()), 'silver': pandas.Series(silver.tolist()), 'bronze': pandas.Series(bronze.tolist())}
df = pandas.DataFrame(d)

print df

   Rank                  NOC  Gold  Silver  Bronze  Total
0     1         Russia (RUS)    13      11       9     33
1     2         Norway (NOR)    11       5      10     26
2     3         Canada (CAN)    10      10       5     25
3     4  United States (USA)     9       7      12     28
4     5    Netherlands (NED)     8       7       9     24

['Russia (RUS)', 'Norway (NOR)', 'Canada (CAN)', 'United States (USA)', 'Netherlands (NED)', 'Germany (GER)', 'Switzerland (SUI)', 'Belarus (BLR)', 'Austria (AUT)', 'France (FRA)', 'Poland (POL)', 'China (CHN)', 'South Korea (KOR)', 'Sweden (SWE)', 'Czech Republic (CZE)', 'Slovenia (SLO)', 'Japan (JPN)', 'Finland (FIN)', 'Great Britain (GBR)', 'Ukraine (UKR)', 'Slovakia (SVK)', 'Italy (ITA)', 'Latvia (LAT)', 'Australia (AUS)', 'Croatia (CRO)', 'Kazakhstan (KAZ)']
    bronze             countries  gold  silver
0        9          Russia (RUS)    13      11
1       10          Norway (NOR)    11       5
2        5          Canada (CAN)    10      10
3       12   United States (USA)     9       7
4        9     Netherlands (NED)     8       7
5        5         Germany (GER)     8       6
6        2     Switzerland (SUI)     6       3
7        1         Belarus (BLR)     5       0
8        5         Austria (AUT)     4       8
9        7          France (FRA)     4       4
10       1          Poland (POL)     4       1
11       2           China (CHN)     3       4
12       2     South Korea (KOR)     3       3
13       6          Sweden (SWE)     2       7
14       2  Czech Republic (CZE)     2       4
15       4        Slovenia (SLO)     2       2
16       3           Japan (JPN)     1       4
17       1         Finland (FIN)     1       3
18       2   Great Britain (GBR)     1       1
19       1         Ukraine (UKR)     1       0
20       0        Slovakia (SVK)     1       0
21       6           Italy (ITA)     0       2
22       2          Latvia (LAT)     0       2
23       1       Australia (AUS)     0       2
24       0         Croatia (CRO)     0       1
25       1      Kazakhstan (KAZ)     0       0

In [4]:
print df[['countries', 'gold']]

               countries  gold
0           Russia (RUS)    13
1           Norway (NOR)    11
2           Canada (CAN)    10
3    United States (USA)     9
4      Netherlands (NED)     8
5          Germany (GER)     8
6      Switzerland (SUI)     6
7          Belarus (BLR)     5
8          Austria (AUT)     4
9           France (FRA)     4
10          Poland (POL)     4
11           China (CHN)     3
12     South Korea (KOR)     3
13          Sweden (SWE)     2
14  Czech Republic (CZE)     2
15        Slovenia (SLO)     2
16           Japan (JPN)     1
17         Finland (FIN)     1
18   Great Britain (GBR)     1
19         Ukraine (UKR)     1
20        Slovakia (SVK)     1
21           Italy (ITA)     0
22          Latvia (LAT)     0
23       Australia (AUS)     0
24         Croatia (CRO)     0
25      Kazakhstan (KAZ)     0

In [5]:
print df.loc[14]

bronze                          2
countries    Czech Republic (CZE)
gold                            2
silver                          4
Name: 14, dtype: object

In [6]:
print df[df['gold']>5]

   bronze            countries  gold  silver
0       9         Russia (RUS)    13      11
1      10         Norway (NOR)    11       5
2       5         Canada (CAN)    10      10
3      12  United States (USA)     9       7
4       9    Netherlands (NED)     8       7
5       5        Germany (GER)     8       6
6       2    Switzerland (SUI)     6       3

In [7]:
print df['countries'][df['gold']>5]

0           Russia (RUS)
1           Norway (NOR)
2           Canada (CAN)
3    United States (USA)
4      Netherlands (NED)
5          Germany (GER)
6      Switzerland (SUI)
Name: countries, dtype: object

In [8]:
df['gold'].map(lambda x: x>=5)

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
Name: gold, dtype: bool

In [9]:
bronze_at_least_one_gold = df['bronze'][df['gold'] >= 1]
print bronze_at_least_one_gold

avg_bronze_at_least_one_gold = numpy.mean(bronze_at_least_one_gold)
print avg_bronze_at_least_one_gold

0      9
1     10
2      5
3     12
4      9
5      5
6      2
7      1
8      5
9      7
10     1
11     2
12     2
13     6
14     2
15     4
16     3
17     1
18     2
19     1
20     0
Name: bronze, dtype: int64
4.2380952381

In [10]:
at_least_one_medal = df[['bronze', 'silver', 'gold']][df['gold'] + df['silver'] + df['bronze'] >= 1]
mean_df = at_least_one_medal.apply(numpy.mean)

print at_least_one_medal
print mean_df

    bronze  silver  gold
0        9      11    13
1       10       5    11
2        5      10    10
3       12       7     9
4        9       7     8
5        5       6     8
6        2       3     6
7        1       0     5
8        5       8     4
9        7       4     4
10       1       1     4
11       2       4     3
12       2       3     3
13       6       7     2
14       2       4     2
15       4       2     2
16       3       4     1
17       1       3     1
18       2       1     1
19       1       0     1
20       0       0     1
21       6       2     0
22       2       2     0
23       1       2     0
24       0       1     0
25       1       0     0
bronze    3.807692
silver    3.730769
gold      3.807692
dtype: float64

In [32]:
points = [4, 2, 1]
score = df[['gold','silver','bronze']].dot(points)
countries = df['countries']

olympic_points = {'countries': pandas.Series(countries), 'points': pandas.Series(score)}
olympic_points_df = pandas.DataFrame(olympic_points)

print olympic_points_df

               countries  points
0           Russia (RUS)      83
1           Norway (NOR)      64
2           Canada (CAN)      65
3    United States (USA)      62
4      Netherlands (NED)      55
5          Germany (GER)      49
6      Switzerland (SUI)      32
7          Belarus (BLR)      21
8          Austria (AUT)      37
9           France (FRA)      31
10          Poland (POL)      19
11           China (CHN)      22
12     South Korea (KOR)      20
13          Sweden (SWE)      28
14  Czech Republic (CZE)      18
15        Slovenia (SLO)      16
16           Japan (JPN)      15
17         Finland (FIN)      11
18   Great Britain (GBR)       8
19         Ukraine (UKR)       5
20        Slovakia (SVK)       4
21           Italy (ITA)      10
22          Latvia (LAT)       6
23       Australia (AUS)       5
24         Croatia (CRO)       2
25      Kazakhstan (KAZ)       1